@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

@font-face{
	font-family: "Standard Blackletter";
	font-weight: 700;
	src: url("../fonts/standard-blackletter.otf") format("opentype");
}

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

.blackletter > p{
	font-family: "Standard Blackletter", serif;
	font-size: larger;
	line-height: .95;
}

.blackletter > p:first-of-type::first-letter{
	float: left;
	font-size: 2.5em;
}

/* elevated letters shouldn't be raised as much as superscripts */
.blackletter sup{
	vertical-align: 20%;
}

.uncial{
	text-align: justify;
	word-break: break-all;
}

blockquote[xml|lang="el"] > p:nth-child(3){
	text-indent: 5em;
}

blockquote ul{
	list-style: none;
	padding: 0;
	text-transform: lowercase;
}

/* location-specific CSS */
#chapter-3 blockquote > header{
	font-style: italic;
	margin-bottom: .5em;
}

/* caption won't fit on page without slightly reducing picture */
#image-2.full-page{
	max-width: 95%;
}
/* end location-specific */

/* dedication */
section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}

/* custom dedication CSS */
[epub|type~="dedication"] p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

[epub|type~="dedication"] b{
	text-transform: uppercase;
}
/* end of dedication */

/* figures */
figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
}

figcaption p{
	text-indent: 0;
	text-transform: uppercase;
}

figcaption table{
	margin: 0 auto;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

@supports(display: grid){
	figure.full-page{
		display: grid;
		grid-template-rows: 1fr auto;
		max-height: 100%;
	}
}
/* end figures */

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end letters */

/* song/verse */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* end song/verse */

#chapter-3 blockquote[epub|type~="z3998:verse"]{
	font-variant: small-caps;
}
